<!DOCTYPE html>
<html lang="en">
    <!--<< Header Area >>-->
    <head>
        <!-- ========== Meta Tags ========== -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="pixel-plus">
        <meta name="description" content="GridTech – Smart AI, Security & Marketing HTML Template">
        <!-- ======== Page title ============ -->
        <title>GridTech – Smart AI, Security & Marketing HTML Template</title>
        
        {% include 'top-scripts.html' %}

         <style>.service-box-area .row {
    display: flex;
    flex-wrap: wrap;
}

.service-box-area .col-xl-4,
.service-box-area .col-lg-4,
.service-box-area .col-md-6 {
    display: flex;
}</style>
    </head>
    <body>

      

        {% include 'header.html' %}
       
        <div id="smooth-wrapper">
            <div id="smooth-content">

                <!-- Breadcrumb Section Start -->
                <!-- <div class="breadcrumb-wrapper bg-cover" style="background-image: url('/static/assets/img/breadcrumb-bg.jpg');">
                    <div class="container">
                        <div class="page-heading">
                            <div class="breadcrumb-sub-title">
                                <h1 class="text-white wow fadeInUp" data-wow-delay=".3s">Identity Governance & Administration</h1>
                            </div>
                            <p class="text-white">Control access, reduce risk, and ensure compliance with centralized identity management.</p>
                            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                                <li>
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i> Home
                                    </a>
                                </li>
                                <li>
                                    /
                                </li>
                                <li>
                                    services
                                </li>
                            </ul>
                        </div>
                    </div>
                </div> -->

                <section class="hero-section-3  hero-3 bg-cover" style="background-image: url('/static/assets/img/home-3/hero/hero-bg.png');margin: 0px; padding-top: 150px !important;">
                    <div class="container">
                        <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="hero-content">
                                    <h1 class="text-anim">
                                        AI & Digital Governance
                                    </h1>
                                     <p class="wow fadeInUp" data-wow-delay=".3s">
                                      Control AI usage, protect sensitive data, and ensure responsible innovation across your organization.
                                    </p>
                                    <p class="wow fadeInUp mt-3" data-wow-delay=".3s">
                                        Gain full visibility into AI-driven activities, enforce governance policies, and manage digital risks with a unified security framework built for the modern enterprise.
                                    </p>
                                    <div class="hero-btn">
                                        <a class="gt-theme-btn-main wow fadeInUp" data-wow-delay=".5s" href="contact.html">
                                            <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                            <span class="gt-theme-btn">Get started</span>
                                            <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                        </a>
                                        <h4 class="wow fadeInUp" data-wow-delay=".5s">
                                           <i class="fa-solid fa-phone-xmark"></i>  <a href="tel:+86661233562">+8 (666) 123-3562</a>
                                        </h4>
                                    </div>
                                </div>
                                <div class="ratting-image wow fadeInUp" data-wow-delay=".7s">
                                    <img src="/static/assets/img/home-3/hero/ratting.png" alt="img">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero-image wow fadeInUp" data-wow-delay=".3s">
                                    <img src="/static/assets/img/home-3/hero/hero-image.jpg" alt="img">
                                    <div class="grap-shape float-bob-y">
                                        <img src="/static/assets/img/home-3/hero/grap.png" alt="img">
                                    </div>
                                   <div class="vec-shape float-bob-x">
                                        <img src="/static/assets/img/home-3/hero/vec-shape.png" alt="img">
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="about-section-   section-padding ">
                    <div class="container">
                        <div class="about-wrapper-3">
                           <div class="row g-4 justify-content-between">
                                <div class="col-lg-4">
                                    <div class="about-conter-items wow fadeInUp" data-wow-delay=".3s">
                                        <span class="about-sub">
                                            // Ai Marketing Agency
                                        </span>
                                        <h2>
                                            <span class="count">30</span> <sup>+</sup>
                                        </h2>
                                        <h3>Years of marketing experiences.</h3>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="about-content">
                                        <h2 class="text-anim">
                                          <!-- Transforming the Future of Marketing Through Intelligent, Data-Driven AI Innovation That Elevates of Success. -->
                                           Govern AI. Secure Digital Transformation.
                                        </h2>
                                        <p class="about-text wow fadeInUp" data-wow-delay=".3s">
                                          As organizations rapidly adopt AI and digital technologies, new risks emerge-from unauthorized AI usage to data exposure and compliance gaps. XSignOn’s AI & Digital Governance solution provides a centralized framework to monitor, control, and secure AI-driven workflows across your enterprise. 
                                           
                                           Our platform enables businesses to enforce governance policies, track AI interactions, and protect sensitive data while maintaining innovation speed. By combining real-time monitoring, automated controls, and compliance alignment, we help organizations confidently embrace AI without compromising security or trust. 
                                           
                                        </p>
                                        <!-- <a class="gt-theme-btn-main wow fadeInUp" data-wow-delay=".5s" href="about.html">
                                            <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                            <span class="gt-theme-btn">About More Us</span>
                                            <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                        </a> -->
                                    </div>
                                </div>
                           </div>
                           <div class="about-image fix">
                                <img data-speed=".8" src="/static/assets/img/home-3/about-image.jpg" alt="img">
                                <div class="about-info">
                                    <img src="/static/assets/img/home-3/about-info.png" alt="img">
                                    <h5>More then 25K clients reviews</h5>
                                </div>
                           </div>
                        </div>
                    </div>
                </section>

                <!-- Service Section Start -->
                <section class="service-section fix  section-padding pt-0 m-0">
                    <div class="container">
                        <div class="row g-4">
                             <div class="section-title">
                                <h6 class="sub-title wow fadeInUp">
                                    // KEY FEATURES
                                </h6>
                                <h2 class="text-anim">
                                   Key Features of Ai Digital Governance
                                </h2>
                                <p class="text-white">Powerful features designed to simplify identity management, strengthen security, and ensure compliance.</p>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                        <ul>
                                        <li class="mb-0 section-bg">
                                            <div class="thumb">
                                                    <img src="/static/assets/img/home-2/service/servive-01.jpg" alt="">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                      AI Usage Visibility
                                                    </h3>
                                                    <p>
                                                        Track and monitor how AI tools are used across your organization, including shadow AI activities. 
                                                    </p>
                                                    <!-- <a href="service-details.html" class="link-btn">
                                                        Read more <i class="fa-solid fa-arrow-up-right"></i>
                                                    </a> -->
                                                </div>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                        <ul>
                                            <li class="mb-0 section-bg">
                                                <div class="thumb">
                                                        <img src="/static/assets/img/home-2/service/servive-04.jpg" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <h3>
                                                            Policy Enforcement
                                                        </h3>
                                                        <p>
                                                          Define and enforce governance policies to control data access, AI usage, and user behavior.
                                                        </p>
                                                        <!-- <a href="service-details.html" class="link-btn">
                                                            Read more <i class="fa-solid fa-arrow-up-right"></i>
                                                        </a> -->
                                                    </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                         <ul>
                                            <li class="mb-0 section-bg">
                                            <div class="thumb">
                                                <img src="/static/assets/img/home-2/service/servive-02.jpg" alt="">
                                            </div>
                                            <div class="content">
                                                <h3>
                                                    Data Protection & Privacy
                                                </h3>
                                                <p>
                                                   Prevent sensitive data exposure with advanced monitoring and automated safeguards.
                                                </p>
                                                <!-- <a href="service-details.html" class="link-btn">
                                                    Read more <i class="fa-solid fa-arrow-up-right"></i>
                                                </a> -->
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                        <ul>
                                             <li class="mb-0 section-bg">
                                            <div class="thumb">
                                                <img src="/static/assets/img/home-2/service/servive-03.jpg" alt="">
                                            </div>
                                            <div class="content">
                                                <h3>
                                                   Risk Detection & Alerts
                                                </h3>
                                                <p>
                                                   Identify anomalies, suspicious AI behavior, and potential risks in real time.
                                                </p>
                                                <!-- <a href="service-details.html" class="link-btn">
                                                    Read more <i class="fa-solid fa-arrow-up-right"></i>
                                                </a> -->
                                            </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <!-- cta section -->

                 <section class="about-text-inner fix actually-area section-bg">
                    <div class="container">
                        <div class="section-title text-center">
                            <h6 class="sub-title wow fadeInUp">
                                // Take Control of Your Identity Security
                            </h6>
                            <h2 class="text-white font-sequelsans-romanbody t_line">
                               Strengthen your organization’s security posture with advanced identity governance solutions. Gain full visibility, automate access controls, and ensure compliance-all from a single unified platform.
                            </h2>
                            <a class="gt-theme-btn-main mt-5 wow fadeInUp" data-wow-delay=".5s" href="contact.html">
                                <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                <span class="gt-theme-btn">Get started</span>
                                <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                            </a>
                        </div>
                    </div>
                </section>

                

           <!-- Benefits List -->
                <section class="choose-us-section-3 fix section-padding">
                    <div class="container">
                        <div class="choose-us-wrapper-3">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="choose-us-image fix">
                                        <img data-speed=".8" src="/static/assets/img/home-3/choose-us-image.jpg" alt="img">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="choose-us-content">
                                        <div class="section-title mb-0">
                                            <h6 class="sub-title wow fadeInUp">
                                                // Key Benefits
                                            </h6>
                                            <h2 class="text-anim">
                                               Business Benefits.
                                            </h2>
                                            <!-- <p class="text-white">Delivering measurable value through enhanced security, automation, and operational efficiency.</p> -->
                                        </div>
                                        <ul class="choose-list">
                                            <li class="active wow fadeInUp" data-wow-delay=".3s">
                                                <div class="icon">
                                                    <img src="/static/assets/img/home-3/icon/icon-6.svg" alt="img">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        Smarter AI Governance
                                                    </h3>
                                                    <p>
                                                        Gain complete control over AI usage without restricting innovation.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp" data-wow-delay=".5s">
                                                <div class="icon">
                                                    <img src="/static/assets/img/home-3/icon/icon-7.svg" alt="img">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        Reduced Risk Exposure
                                                    </h3>
                                                    <p>
                                                       Minimize threats from shadow AI and unauthorized data access.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp" data-wow-delay=".7s">
                                                <div class="icon">
                                                    <img src="/static/assets/img/home-3/icon/icon-8.svg" alt="img">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        Compliance Ready
                                                    </h3>
                                                    <p>
                                                       Align with regulatory frameworks and industry standards effortlessly.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp" data-wow-delay=".7s">
                                                <div class="icon">
                                                    <img src="/static/assets/img/home-3/icon/icon-8.svg" alt="img">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        Faster Decision-Making
                                                    </h3>
                                                    <p>
                                                       Access real-time insights to make informed governance decisions.
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

               
                 <!-- Service Details Section Start -->
                <section class="service-details-section fix section-padding pt-0">
                    <div class="container">
                        <div class="service-details-wrapper">
                            <!-- <div class="service-top-img fix">
                                <img data-speed=".8" src="assets/img/inner-page/service-details-01.jpg" alt="img">
                            </div> -->
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="service-details-content">
                                        <h2>HOW IT WORKS</h2>
                                       
                                      
                                       <div class="service-box-area">
                                            <div class="row g-4">
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">01.</span>
                                                        <h5>AI Activity Discovery</h5>
                                                        <p>
                                                          Identify all AI tools and digital processes being used across your organization, including unauthorized ones.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">02.</span>
                                                        <h5>Governance Policy Setup</h5>
                                                        <p>
                                                          Define rules and policies for AI usage, data handling, and user access.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">03.</span>
                                                        <h5>Automated Controls</h5>
                                                        <p>
                                                            Apply automated controls to enforce policies and prevent violations.
                                                        </p>
                                                    </div>
                                                </div>
                                                 <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">04.</span>
                                                        <h5>Continuous Monitoring</h5>
                                                        <p>
                                                            Track AI activities and digital interactions in real time for full visibility.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">05.</span>
                                                        <h5>Risk Detection</h5>
                                                        <p>
                                                            Detect anomalies, suspicious behavior, and potential threats instantly.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">06.</span>
                                                        <h5>Compliance Alignment</h5>
                                                        <p>
                                                            Map AI activities to compliance frameworks like GDPR and SOC 2.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                      
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4">
                                    <div class="service-details-sidebar">
                                        
                                        <div class="sidebar-widget-image wow fadeInUp" data-wow-delay=".5s">
                                            <img src="/static/assets/img/inner-page/project-details-05.jpg" alt="img">
                                            <div class="content">
                                                <h3>Let’s Bring Digital Ideas to Life.</h3>
                                                <a class="gt-theme-btn-main mt-4 wow fadeInUp" data-wow-delay=".3s" href="contact.html">
                                                    <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                    <span class="gt-theme-btn">Get in touch</span>
                                                    <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                </a>
                                            </div>
                                            <div class="white-logo">
                                                <img src="/static/assets/img/logo/white-logo.svg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Use Cases start -->
                 <section class="service-section11 fix section-bg section-padding pb-0">
                    <div class="container">
                        <div class="row g-4">
                            <div class="col-lg-5">
                                <div class="service-left-items">
                                    <div class="section-title mb-0">
                                        <h6 class="sub-title wow fadeInUp">
                                            // USE CASES
                                        </h6>
                                        <h2 class="text-anim">
                                           Use Cases
                                        </h2>
                                    </div>
                                    <a class="gt-theme-btn-main wow fadeInUp" data-wow-delay=".3s" href="service.html">
                                        <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                        <span class="gt-theme-btn">View More Services</span>
                                        <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                    </a>
                                    <div class="service-ai d-none d-xxl-block">
                                        <img src="/static/assets/img/home-2/service/service-ai.png" alt="img">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                        <ul>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/static/assets/img/home-2/service/servive-01.jpg" alt="">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        <a href="service-details.html">Shadow AI Management</a>
                                                    </h3>
                                                    <p>
                                                        Detect and control unauthorized AI tool usage within your organization.
                                                    </p>
                                                    <!-- <a href="service-details.html" class="link-btn">
                                                        Read more <i class="fa-solid fa-arrow-up-right"></i>
                                                    </a> -->
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/static/assets/img/home-2/service/servive-02.jpg" alt="">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        <a href="service-details.html">Data Leakage Prevention</a>
                                                    </h3>
                                                    <p>
                                                        Protect sensitive information from being exposed through AI systems. 
                                                    </p>
                                                    <!-- <a href="service-details.html" class="link-btn">
                                                        Read more <i class="fa-solid fa-arrow-up-right"></i>
                                                    </a> -->
                                                </div>
                                            </li>
                                            <li>
                                                <div class="thumb">
                                                    <img src="/static/assets/img/home-2/service/servive-03.jpg" alt="">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        <a href="service-details.html">Compliance Automation</a>
                                                    </h3>
                                                    <p>
                                                        Ensure continuous compliance with evolving regulations. 
                                                    </p>
                                                    <!-- <a href="service-details.html" class="link-btn">
                                                        Read more <i class="fa-solid fa-arrow-up-right"></i>
                                                    </a> -->
                                                </div>
                                            </li>
                                           
                                        </ul>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </section>

                {% include 'footer.html' %}

            </div>
        </div>

       

       
    </body>
</html>