<!DOCTYPE html>
<html lang="en">
    <!--<< Header Area >>-->
    <head>
        <!-- ========== Meta Tags ========== -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="pixel-plus">
        <meta name="description" content="GridTech – Smart AI, Security & Marketing HTML Template">
        <!-- ======== Page title ============ -->
        <title>GridTech – Smart AI, Security & Marketing HTML Template</title>
        
        {% include 'top-scripts.html' %}

         <style>.service-box-area .row {
    display: flex;
    flex-wrap: wrap;
}

.service-box-area .col-xl-4,
.service-box-area .col-lg-4,
.service-box-area .col-md-6 {
    display: flex;
}

.news-section .row {
    display: flex;
    flex-wrap: wrap;
}

.news-section .col-xl-4,
.news-section .col-lg-6,
.news-section .col-md-6 {
    display: flex;
}

</style>
    </head>
    <body>

      {% include 'header.html' %}
       
        <div id="smooth-wrapper">
            <div id="smooth-content">

                <!-- Breadcrumb Section Start -->
              
                 <section class="hero-section-2 hero-2 pb-5 section-padding section-bg-3 bg-cover" style="background-image: url('/static/assets/img/home-2/hero/dot-shape.png');">
                    <div class="hero-light d-none d-xl-block">
                        <img src="/static/assets/img/home-2/hero/hero-light.png" alt="img">
                    </div>
                    <div class="right-shape d-none d-xl-block">
                        <img src="/static/assets/img/home-2/hero/right-shape.png" alt="img">
                    </div>
                    <div class="container">
                        <div class="hero-content">
                            <div class="text-center">
                                <h6 class="wow fadeInUp" data-wow-delay=".3s">
                                    Posture One <img src="/static/assets/img/home-2/hero/hero-info.png" alt="img">
                                </h6>
                            </div>
                             <h1 class="text-anim">
                                Your Unified Cybersecurity Posture Management
                            </h1>
                            <p class="wow fadeInUp" data-wow-delay=".5s">
                                Get a real-time view of your entire security posture, eliminate risks, and stay continuously compliant with one intelligent platform.
                            </p>
                            <a class="gt-theme-btn-main wow fadeInUp pb-5" data-wow-delay=".7s" href="contact.html">
                                <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                <span class="gt-theme-btn">Get Started Now</span>
                                <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                            </a>
                        </div>
                    </div>
                    <!-- <div class="hero-banner-items section-padding pb-0">
                        <div class="row g-4">
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="hero-image-items tp-costom-wrapper-hover">
                                    <img src="/static/assets/img/home-2/hero/hero-image-1.jpg" alt="img">
                                    <h3>
                                        Our impact in <br> numbers
                                    </h3>
                                    <div class="content">
                                        <h2><span class="count">800</span>+</h2>
                                        <p>Innovative solutions built for global founders.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="hero-image-items">
                                    <img src="/static/assets/img/home-2/hero/hero-2.jpg" alt="img">
                                    <h3>
                                       Innovative solutions for modern  businesses success. Innovative <br> solution modern global
                                    </h3>
                                    <div class="content">
                                        <a href="about.html" class="link-btn"><i class="fa-solid fa-arrow-up-right"></i> Learn more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                                <div class="hero-image-items">
                                    <img src="/static/assets/img/home-2/hero/hero-image-3.jpg" alt="img">
                                    <div class="video-text">
                                        <span>Play</span>
                                        <a href="https://www.youtube.com/watch?v=Cn4G2lZ_g2I" class="video-btn ripple video-popup">
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                        <span>Reel.</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div> -->
                </section>

                <section class="section-padding">
                    <div class="container  ">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-md-5">
                            
                            <img src="/static/assets/img/home-3/choose-us-image.jpg" alt="img" class="img-fluid" height="auto" >

                           
                        </div>
                        <div class="col-md-6">
                            <div class="about-content">
                                        <h2 class="text-anim">
                                          <!-- Transforming the Future of Marketing Through Intelligent, Data-Driven AI Innovation That Elevates of Success. -->
                                           Govern AI. Secure Digital Transformation.
                                        </h2>
                                        <p class="about-text wow fadeInUp mt-4" data-wow-delay=".3s">
                                          As organizations rapidly adopt AI and digital technologies, new risks emerge-from unauthorized AI usage to data exposure and compliance gaps. XSignOn’s AI & Digital Governance solution provides a centralized framework to monitor, control, and secure AI-driven workflows across your enterprise. 
                                           
                                         
                                           
                                        </p>
                                        <p class="about-text wow fadeInUp mt-2" data-wow-delay=".3s">
                                          As organizations rapidly adopt AI and digital technologies, new risks emerge-from unauthorized AI usage to data exposure and compliance gaps. XSignOn’s AI & Digital Governance solution provides a centralized framework to monitor, control, and secure AI-driven workflows across your enterprise. 
                                           
                                         
                                           
                                        </p>
                                        <p class="about-text wow fadeInUp mt-2" data-wow-delay=".3s">
                                          As organizations rapidly adopt AI and digital technologies, new risks emerge-from unauthorized AI usage to data exposure and compliance gaps. XSignOn’s AI & Digital Governance solution provides a centralized framework to monitor, control, and secure AI-driven workflows across your enterprise. 
                                           
                                         
                                           
                                        </p>
                                        
                                       
                                    </div>
                                    

                        </div>
                        </div>
                    </div>
                </section>

               

                <!-- Service Section Start -->
                <section class="service-section fix  section-padding pt-0 m-0">
                    <div class="container">
                        <div class="row g-4">
                             <div class="section-title">
                                <h6 class="sub-title wow fadeInUp">
                                    // KEY FEATURES
                                </h6>
                                <h2 class="text-anim">
                                   Key Features of Ai Digital Governance
                                </h2>
                                <!-- <p class="text-white">Powerful features designed to simplify identity management, strengthen security, and ensure compliance.</p> -->
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                        <ul>
                                        <li class="mb-0 section-bg">
                                            <div class="thumb">
                                                    <img src="/static/assets/img/home-2/service/servive-01.jpg" alt="">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                      Unified Security Dashboard
                                                    </h3>
                                                    <p>
                                                        View your entire security posture from a single, centralized dashboard.
                                                    </p>
                                                   
                                                </div>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                        <ul>
                                            <li class="mb-0 section-bg">
                                                <div class="thumb">
                                                        <img src="/static/assets/img/home-2/service/servive-04.jpg" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <h3>
                                                            Continuous Risk Assessment
                                                        </h3>
                                                        <p>
                                                         Identify vulnerabilities and misconfigurations in real time.
                                                        </p>
                                                        
                                                    </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                         <ul>
                                            <li class="mb-0 section-bg">
                                            <div class="thumb">
                                                <img src="/static/assets/img/home-2/service/servive-02.jpg" alt="">
                                            </div>
                                            <div class="content">
                                                <h3>
                                                  Compliance Monitoring
                                                </h3>
                                                <p>
                                                  Track and maintain compliance with SOC 2, HIPAA, GDPR, and ISO 27001.
                                                </p>
                                                
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                        <ul>
                                             <li class="mb-0 section-bg">
                                            <div class="thumb">
                                                <img src="/static/assets/img/home-2/service/servive-03.jpg" alt="">
                                            </div>
                                            <div class="content">
                                                <h3>
                                                  Automated Alerts & Remediation
                                                </h3>
                                                <p>
                                                  Get instant alerts and automate responses to security risks.
                                                </p>
                                               
                                            </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <!-- cta section -->

                 <section class="about-text-inner fix actually-area section-bg">
                    <div class="container">
                        <div class="section-title text-center">
                            <h6 class="sub-title wow fadeInUp">
                                // Take Control of Your Identity Security
                            </h6>
                            <h2 class="text-white font-sequelsans-romanbody t_line">
                               Strengthen your organization’s security posture with advanced identity governance solutions. Gain full visibility, automate access controls, and ensure compliance-all from a single unified platform.
                            </h2>
                            <a class="gt-theme-btn-main mt-5 wow fadeInUp" data-wow-delay=".5s" href="contact.html">
                                <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                <span class="gt-theme-btn">Get started</span>
                                <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                            </a>
                        </div>
                    </div>
                </section>

                

           <!-- Benefits List -->
                <section class="choose-us-section-3 fix section-padding">
                    <div class="container">
                        <div class="choose-us-wrapper-3">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="choose-us-image fix">
                                        <img data-speed=".8" src="/static/assets/img/home-3/choose-us-image.jpg" alt="img">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="choose-us-content">
                                        <div class="section-title mb-0">
                                            <h6 class="sub-title wow fadeInUp">
                                                // Key Benefits
                                            </h6>
                                            <h2 class="text-anim">
                                               Business Benefits.
                                            </h2>
                                            <!-- <p class="text-white">Delivering measurable value through enhanced security, automation, and operational efficiency.</p> -->
                                        </div>
                                        <ul class="choose-list">
                                            <li class="active wow fadeInUp" data-wow-delay=".3s">
                                                <div class="icon">
                                                    <img src="/static/assets/img/home-3/icon/icon-6.svg" alt="img">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        Complete Visibility
                                                    </h3>
                                                    <p>
                                                        Understand your entire security environment in one place.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp" data-wow-delay=".5s">
                                                <div class="icon">
                                                    <img src="/static/assets/img/home-3/icon/icon-7.svg" alt="img">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        Faster Risk Resolution
                                                    </h3>
                                                    <p>
                                                       Detect and fix issues before they impact your business.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp" data-wow-delay=".7s">
                                                <div class="icon">
                                                    <img src="/static/assets/img/home-3/icon/icon-8.svg" alt="img">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        Reduced Complexity
                                                    </h3>
                                                    <p>
                                                      Replace multiple tools with a single unified platform.
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp" data-wow-delay=".7s">
                                                <div class="icon">
                                                    <img src="/static/assets/img/home-3/icon/icon-8.svg" alt="img">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                       Stronger Security Posture
                                                    </h3>
                                                    <p>
                                                      Continuously improve your organization's security maturity.
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

               
                 <!-- Service Details Section Start -->
                <section class="service-details-section fix section-padding pt-0">
                    <div class="container">
                        <div class="service-details-wrapper">
                            <!-- <div class="service-top-img fix">
                                <img data-speed=".8" src="assets/img/inner-page/service-details-01.jpg" alt="img">
                            </div> -->
                            <div class="row g-4">
                                <div class="col-lg-12">
                                    <div class="service-details-content">
                                        <h2>HOW IT WORKS</h2>
                                       
                                      
                                       <div class="service-box-area">
                                            <div class="row g-4">
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">01.</span>
                                                        <h5>Data Aggregation</h5>
                                                        <p>
                                                         Collect security data from all systems, tools, and environments.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">02.</span>
                                                        <h5>Risk Analysis</h5>
                                                        <p>
                                                         Analyze vulnerabilities, misconfigurations, and threats.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">03.</span>
                                                        <h5>Posture Scoring</h5>
                                                        <p>
                                                         Generate a real-time security posture score for your organization.
                                                        </p>
                                                    </div>
                                                </div>
                                                 <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">04.</span>
                                                        <h5>Automated Alerts</h5>
                                                        <p>
                                                            Notify teams instantly about critical risks.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">05.</span>
                                                        <h5>Remediation Actions</h5>
                                                        <p>
                                                            Automate fixes or guide teams with actionable insights.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="service-box-items">
                                                        <span class="number">06.</span>
                                                        <h5>Continuous Monitoring</h5>
                                                        <p>
                                                          Track your security posture 24/7 across all environments.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                      
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4">
                                    <div class="service-details-sidebar">
                                        
                                        <div class="sidebar-widget-image wow fadeInUp" data-wow-delay=".5s">
                                            <img src="/static/assets/img/inner-page/project-details-05.jpg" alt="img">
                                            <div class="content">
                                                <h3>Let’s Bring Digital Ideas to Life.</h3>
                                                <a class="gt-theme-btn-main mt-4 wow fadeInUp" data-wow-delay=".3s" href="contact.html">
                                                    <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                    <span class="gt-theme-btn">Get in touch</span>
                                                    <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                </a>
                                            </div>
                                            <div class="white-logo">
                                                <img src="/static/assets/img/logo/white-logo.svg" alt="img">
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Use Cases start -->
                <section class="faq-section fix">
                    <div class="row g-4">
                            <div class="col-lg-6">
                                <div class="faq-image-1 fix wow fadeInUp" data-wow-delay=".3s">
                                    <img data-speed=".8" src="/static/assets/img/home-1/faq-image.jpg" alt="img">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="faq-content-1 section-padding">
                                    <div class="section-title mb-0">
                                        <h6 class="sub-title wow fadeInUp">
                                            // Use Cases
                                        </h6>
                                        <h2 class="text-anim">
                                           Use Cases
                                        </h2>
                                    </div>
                                    <ul class="accordion-box">
                                        <!--Block-->
                                        <li class="accordion block active-block wow fadeInUp">
                                            <div class="acc-btn active">
                                                <span class="number">01.</span>
                                                Security Posture Visibility
                                                <div class="icon fa-solid fa-arrow-down"></div>
                                            </div>
                                            <div class="acc-content current">
                                                <div class="content">
                                                    <div class="text">
                                                        Gain a real-time overview of your organization’s security health.
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!--Block-->
                                        <li class="accordion block wow fadeInUp" data-wow-delay=".2s">
                                            <div class="acc-btn">
                                        <span class="number">02.</span>
                                           Risk Management
                                                <div class="icon fa-solid fa-arrow-down"></div>
                                            </div>
                                            <div class="acc-content">
                                                <div class="content">
                                                <div class="text">
                                                       Identify and prioritize vulnerabilities across systems.
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!--Block-->
                                        <li class="accordion block wow fadeInUp" data-wow-delay=".4s">
                                            <div class="acc-btn">
                                            <span class="number">03.</span>
                                                Compliance Readiness
                                                <div class="icon fa-solid fa-arrow-down"></div>
                                            </div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">
                                                       Stay audit-ready with continuous compliance monitoring.
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                         <li class="accordion block wow fadeInUp" data-wow-delay=".4s">
                                            <div class="acc-btn">
                                            <span class="number">04.</span>
                                                Cloud & AI Security
                                                <div class="icon fa-solid fa-arrow-down"></div>
                                            </div>
                                            <div class="acc-content">
                                                <div class="content">
                                                    <div class="text">
                                                      Secure modern environments including cloud and AI systems.
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                </section>


                 <!-- News Section Start -->
                <section class="news-section section-padding">
                    <div class="container">
                        <div class="section-title text-center">
                            <h6 class="sub-title wow fadeInUp">
                                // Case Studies
                            </h6>
                            <h2 class="text-anim">
                                Explore How AI is Transforming Industries <br> Latest News & Updates
                            </h2>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="news-box-items">
                                    <div class="thumb">
                                        <img src="/static/assets/img/home-1/news/news-01.jpg" alt="img">
                                        <img src="/static/assets/img/home-1/news/news-01.jpg" alt="img">
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="news.html">AI Risk Governance</a>
                                            </li>
                                            <li>
                                                <span>05 Mar, 2026</span>
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="#">Controlling Shadow AI to Protect Sensitive Data Across Teams.</a>
                                        </h3>
                                        <p>A tech startup gained full visibility into AI usage and prevented data leakage risks by implementing XSignOn governance controls.</p>
                                        <div class="news-bottom">
                                            <a href="#" class="link-btn"><i class="fa-solid fa-arrow-up-right"></i> Read more</a>
                                            <p>2 Comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="news-box-items">
                                    <div class="thumb">
                                        <img src="/static/assets/img/home-1/news/news-02.jpg" alt="img">
                                        <img src="/static/assets/img/home-1/news/news-02.jpg" alt="img">
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="#">Compliance Automation</a>
                                            </li>
                                            <li>
                                                <span>28 Feb, 2026</span>
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="#">Achieving Continuous Compliance Without the Stress of Annual Audits.</a>
                                        </h3>
                                        <p>A fintech firm automated SOC 2 and GDPR compliance using Posture One, reducing audit preparation time by over 60%.</p>
                                        <div class="news-bottom">
                                            <a href="#" class="link-btn"><i class="fa-solid fa-arrow-up-right"></i> Read more</a>
                                            <p>5 Comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                                <div class="news-box-items">
                                    <div class="thumb">
                                        <img src="/static/assets/img/home-1/news/news-03.jpg" alt="img">
                                        <img src="/static/assets/img/home-1/news/news-03.jpg" alt="img">
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="#">Cybersecurity Transformation</a>
                                            </li>
                                            <li>
                                                <span>12 Jan, 2026</span>
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="#">Unifying Security Systems to Eliminate Tool Sprawl and Reduce Risk.</a>
                                        </h3>
                                        <p >A growing SaaS company streamlined its fragmented security stack using XSignOn, achieving full visibility and faster threat response.</p>
                                        <div class="news-bottom">
                                            <a href="#" class="link-btn"><i class="fa-solid fa-arrow-up-right"></i> Read more</a>
                                            <p>3 Comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                {% include 'footer.html' %}

            </div>
        </div>

       

        
       
    </body>
</html>