<!DOCTYPE html>
<html lang="en">
    <!--<< Header Area >>-->
    <head>
        <!-- ========== Meta Tags ========== -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="pixel-plus">
        <meta name="description" content="GridTech – Smart AI, Security & Marketing HTML Template">
        <!-- ======== Page title ============ -->
        <title>GridTech – Smart AI, Security & Marketing HTML Template</title>
        
        {% include 'top-scripts.html' %}

    </head>
    <body>

      

        {% include 'header.html' %}
       
        <div id="smooth-wrapper">
            <div id="smooth-content">

                <!-- Breadcrumb Section Start -->
                <div class="breadcrumb-wrapper bg-cover" style="background-image: url('https://gramentheme.com/html/gridtech/assets/img/breadcrumb-bg.jpg');">
                    <div class="container">
                        <div class="page-heading">
                            <div class="breadcrumb-sub-title">
                                <h1 class="text-white wow fadeInUp" data-wow-delay=".3s">Our services</h1>
                            </div>
                            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                                <li>
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i> Home
                                    </a>
                                </li>
                                <li>
                                    /
                                </li>
                                <li>
                                    services
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Service Section Start -->
                <section class="service-section fix  section-padding m-0">
                    <div class="container">
                        <div class="row g-4">
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                        <ul>
                                        <li class="mb-0 section-bg">
                                            <div class="thumb">
                                                    <img src="https://gramentheme.com/html/gridtech/assets/img/home-2/service/servive-01.jpg" alt="">
                                                </div>
                                                <div class="content">
                                                    <h3>
                                                        <a href="service-details.html">AI Services That Accelerate Innovation & Business Growth</a>
                                                    </h3>
                                                    <p>
                                                        Provide data-driven stratege help companies identifies opportunities, reduce risk and achieve long term of our growth. 
                                                    </p>
                                                    <a href="service-details.html" class="link-btn">
                                                        Read more <i class="fa-solid fa-arrow-up-right"></i>
                                                    </a>
                                                </div>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                        <ul>
                                            <li class="mb-0 section-bg">
                                                <div class="thumb">
                                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-2/service/servive-04.jpg" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <h3>
                                                            <a href="service-details.html">AI Solutions That Drive Innovation & Growth</a>
                                                        </h3>
                                                        <p>
                                                            Provide data-driven stratege help companies identifies opportunities, reduce risk and achieve long term of our growth. 
                                                        </p>
                                                        <a href="service-details.html" class="link-btn">
                                                            Read more <i class="fa-solid fa-arrow-up-right"></i>
                                                        </a>
                                                    </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                         <ul>
                                            <li class="mb-0 section-bg">
                                            <div class="thumb">
                                                <img src="https://gramentheme.com/html/gridtech/assets/img/home-2/service/servive-02.jpg" alt="">
                                            </div>
                                            <div class="content">
                                                <h3>
                                                    <a href="service-details.html">End-to-End AI Services to Build, Automate & Transform</a>
                                                </h3>
                                                <p>
                                                    Provide data-driven stratege help companies identifies opportunities, reduce risk and achieve long term of our growth. 
                                                </p>
                                                <a href="service-details.html" class="link-btn">
                                                    Read more <i class="fa-solid fa-arrow-up-right"></i>
                                                </a>
                                            </div>
                                        </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="service-right-area">
                                    <div class="service-right-card-items">
                                        <ul>
                                             <li class="mb-0 section-bg">
                                            <div class="thumb">
                                                <img src="https://gramentheme.com/html/gridtech/assets/img/home-2/service/servive-03.jpg" alt="">
                                            </div>
                                            <div class="content">
                                                <h3>
                                                    <a href="service-details.html">Smart & Scalable AI Solutions Tailored for Your Business</a>
                                                </h3>
                                                <p>
                                                    Provide data-driven stratege help companies identifies opportunities, reduce risk and achieve long term of our growth. 
                                                </p>
                                                <a href="service-details.html" class="link-btn">
                                                    Read more <i class="fa-solid fa-arrow-up-right"></i>
                                                </a>
                                            </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

               {% include 'footer.html' %}

            </div>
        </div>

       

      
    </body>
</html>