<!-- Footer Section Start -->
                <footer class="footer-section fix">
                    <div class="right-shape">
                        <img src="/static/assets/img/home-2/hero/hero-light.png" alt="img">
                    </div>
                    <!-- <div class="container">
                         <div class="cta-newsletter-wrapper">
                            <h2 class="text-anim">
                               Let’s Talk to your Projects
                            </h2>
                            <a class="gt-theme-btn-main wow fadeInUp" data-wow-delay=".7s" href="{% url 'contact' %}">
                                <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                <span class="gt-theme-btn">Get Started Now</span>
                                <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                            </a>
                        </div>
                    </div> -->
                    <div class="footer-area">
                        <div class="container">
                            <div class="footer-widget-wrapper">
                                <div class="row justify-content-between">
                                    <div class="col-xl-4 col-lg-5 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="footer-widget-items">
                                            <div class="widget-head">
                                                <a href="{% url 'index' %}" class="footer-logo">
                                                    <img src="/static/assets/img/logo/white-logo22.png" alt="img" width="180">
                                                </a>
                                            </div>
                                            <div class="footer-content">
                                                <p>Securing your digital core with zero disruption, infinite innovation, absolute protection.</p>
                                                <div class="social-icon d-flex align-items-center">
                                                    <a class="d-none" href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="https://x.com/xsignonorg?s=11" target="_blank">
                                                        <!-- <i class="fab fa-twitter"></i> -->
                                                         <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="20" height="20" viewBox="0 0 640 640"><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M453.2 112L523.8 112L369.6 288.2L551 528L409 528L297.7 382.6L170.5 528L99.8 528L264.7 339.5L90.8 112L236.4 112L336.9 244.9L453.2 112zM428.4 485.8L467.5 485.8L215.1 152L173.1 152L428.4 485.8z"/></svg>
                                                    </a>
                                                    <a href="https://www.instagram.com/xsignon?igsh=MWp3czhnbGNxZnN2YQ==" target="_blank"><i class="fab fa-instagram"></i></a>
                                                    <a href="https://www.linkedin.com/company/xsignon/" target="_blank"><i class="fab fa-linkedin"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                                        <div class="footer-widget-items">
                                            <div class="widget-head">
                                                <h3>Solutions</h3>
                                            </div>
                                            <ul class="gt-list-area">
                                                <li>
                                                    <a href="{% url 'identity-governance' %}">
                                                        Identity Governance
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'ai-digital-governance' %}">
                                                        AI & Digital Governance 
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'quantum-safe-security' %}">
                                                       Quantum - Safe Security
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'business-process-solutions' %}">
                                                       Business Process Solutions
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'enterprise-technology-solutions' %}">
                                                       Enterprise Technology Solutions
                                                    </a>
                                                </li>
                                                <!-- <li>
                                                    <a href="#">
                                                      Regulatory, Risk, & Forensic
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                      Strategy - Posture One
                                                    </a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 ps-lg-0 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                                        <div class="footer-widget-items">
                                            <div class="widget-head">
                                                <h3>Quick Links</h3>
                                            </div>
                                            <ul class="gt-list-area">
                                                <!-- <li>
                                                    <a href="{% url 'industry-thinking' %}">
                                                       Industry Thinking
                                                    </a>
                                                </li> -->
                                                 <li>
                                                    <a href="{% url 'xsignon-insights' %}">
                                                      XSignOn Insights 
                                                    </a>
                                                </li>
                                               <li>
                                                    <a href="{% url 'use-cases' %}">
                                                       Use Cases
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'privacy-policy' %}">
                                                      Privacy Policy
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'terms-and-conditions' %}">
                                                      Terms and Conditions
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'unsubscribe' %}">
                                                      Unsubscribe
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                                        <div class="footer-widget-items">
                                            <div class="widget-head">
                                                <h3>Connect Here</h3>
                                            </div>

                                            <ul class="contact-list contact-list-style">

                                                <li>
                                                    <span class="contact-icon">
                                                        <i class="fa-solid fa-location-dot"></i>
                                                    </span>

                                                    <span>
                                                        3900 S Stonebridge Dr., Suite 1101 
                                                        McKinney, TX 75070
                                                    </span>
                                                </li>

                                                <li style="align-items: center;">
                                                    <span class="contact-icon">
                                                        <i class="fa-solid fa-envelope"></i>
                                                    </span>

                                                    <a href="mailto:info@xsignon.com">
                                                        info@xsignon.com
                                                    </a>
                                                </li>

                                                <li style="align-items: center;">
                                                    <span class="contact-icon">
                                                        <i class="fa-solid fa-phone"></i>
                                                    </span>

                                                    <a href="tel:+14698979393">
                                                        469-897-9393
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom">
                            <div class="container">
                                 <div class="footer-bottom-wrapper">
                                    <p class="wow fadeInUp" data-wow-delay=".3s">
                                        © 2026 <b>XSignOn.</b> All rights reserved.
                                    </p>
                                    <ul class="footer-list wow fadeInUp d-none" data-wow-delay=".7s">
                                        <li>
                                            <a href="{% url 'privacy-policy' %}">Privacy policy</a>
                                        </li>
                                        <li>।</li>
                                        <li>
                                            <a href="{% url 'terms-and-conditions' %}">Terms & conditions</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>


                 <!--<< All JS Plugins >>-->
        <script src="/static/assets/js/jquery-3.7.1.min.js"></script>
        <!--<< Viewport Js >>-->
        <script src="/static/assets/js/viewport.jquery.js"></script>
        <!--<< Bootstrap Js >>-->
        <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
        <!--<< Gsap Min Js >>-->
        <script src="/static/assets/js/gsap.min.js"></script>
        <!--<< ScrollTrigger Min Js >>-->
        <script src="/static/assets/js/ScrollTrigger.min.js"></script>
        <!--<< ScrollSmoother Min Js >>-->
        <script src="/static/assets/js/ScrollSmoother.min.js"></script>
        <!--<< ScrollToPlugin Min Js >>-->
        <script src="/static/assets/js/ScrollToPlugin.min.js"></script>
        <!--<< SplitText Min Js >>-->
        <script src="/static/assets/js/SplitText.min.js"></script>
        <!--<< TextPlugin Min Js >>-->
        <script src="/static/assets/js/TextPlugin.js"></script>
         <!--<< Chroma Min Js >>-->
        <script src="/static/assets/js/chroma.min.js"></script>
        <!--<< nice-selec Js >>-->
        <script src="/static/assets/js/jquery.nice-select.min.js"></script>
        <!--<< Waypoints Js >>-->
        <script src="/static/assets/js/jquery.waypoints.js"></script>
        <!--<< Counterup Js >>-->
        <script src="/static/assets/js/jquery.counterup.min.js"></script>
        <!--<< Swiper Slider Js >>-->
        <script src="/static/assets/js/swiper-bundle.min.js"></script>
        <!--<< MeanMenu Js >>-->
        <script src="/static/assets/js/jquery.meanmenu.min.js"></script>
        <!--<< Parallaxie Js >>-->
        <script src="/static/assets/js/parallaxie.js"></script>
        <!--<< Magnific Popup Js >>-->
        <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
        <!--<< Wow Animation Js >>-->
        <script src="/static/assets/js/wow.min.js"></script>
        <!--<< Main.js >>-->
        <script src="/static/assets/js/main.js" defer></script>


