<!-- Footer Section Start -->
                <footer class="footer-section fix">
                    <div class="right-shape">
                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-2/hero/hero-light.png" alt="img">
                    </div>
                    <!-- <div class="container">
                         <div class="cta-newsletter-wrapper">
                            <h2 class="text-anim">
                               Let’s Talk to your Projects
                            </h2>
                            <a class="gt-theme-btn-main wow fadeInUp" data-wow-delay=".7s" href="{% url 'contact' %}">
                                <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                <span class="gt-theme-btn">Get Started Now</span>
                                <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                            </a>
                        </div>
                    </div> -->
                    <div class="footer-area">
                        <div class="container">
                            <div class="footer-widget-wrapper">
                                <div class="row justify-content-between">
                                    <div class="col-xl-4 col-lg-5 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                                        <div class="footer-widget-items">
                                            <div class="widget-head">
                                                <a href="{% url 'index' %}" class="footer-logo">
                                                    <img src="https://gramentheme.com/html/gridtech/assets/img/logo/white-logo.svg" alt="img">
                                                </a>
                                            </div>
                                            <div class="footer-content">
                                                <p>
                                                    The purpose of a FAQ is generally provide information on Perfect for Small Teams, Startups, and Growing.
                                                </p>
                                                <div class="social-icon d-flex align-items-center">
                                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                                    <a href="#"><i class="fab fa-vimeo-v"></i></a>
                                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-2 col-lg-3 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                                        <div class="footer-widget-items">
                                            <div class="widget-head">
                                                <h3>What We Do</h3>
                                            </div>
                                            <ul class="gt-list-area">
                                                <li>
                                                    <a href="{% url 'identity-governance' %}">
                                                        Identity Governance
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'ai-digital-governance' %}">
                                                        Ai Digital Governance
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'quantum-safe-security' %}">
                                                       Quantum Safe Security
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'business-process-solutions' %}">
                                                       Business Process Solutions
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'enterprise-performance' %}">
                                                       Enterprise Performance
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'regulatory-risk-forensic' %}">
                                                       Regulatory Risk Forensic
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 ps-lg-0 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".6s">
                                        <div class="footer-widget-items">
                                            <div class="widget-head">
                                                <h3>Who We Are</h3>
                                            </div>
                                            <ul class="gt-list-area">
                                                <li>
                                                    <a href="{% url 'overview' %}">
                                                       Overview
                                                    </a>
                                                </li>
                                                 <li>
                                                    <a href="{% url 'contact' %}">
                                                      Contact
                                                    </a>
                                                </li>
                                               <!-- <li>
                                                    <a href="service-details.html">
                                                       Resources
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="service-details.html">
                                                       Talk an Expert
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="service-details.html">
                                                      Sustainability
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="service-details.html">
                                                       ai Solution hub
                                                    </a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                                        <div class="footer-widget-items">
                                            <div class="widget-head">
                                                <h3>Get in touch</h3>
                                            </div>
                                            <ul class="contact-list">
                                                <li>
                                                    United States — <br>
                                                    350 Fifth Avenue, 21st Floor New York, NY 10118
                                                </li>
                                                <li>
                                                    <a href="tel:+86661233562">+8 (666) 123-3562</a>
                                                </li>
                                                <li>
                                                    Mon-Fri 9:00am - 5:00pm
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom">
                            <div class="container">
                                 <div class="footer-bottom-wrapper">
                                    <p class="wow fadeInUp" data-wow-delay=".3s">
                                        © 2026 <b>XSignOn.</b> All rights reserved.
                                    </p>
                                    <ul class="footer-list wow fadeInUp" data-wow-delay=".7s">
                                        <li>
                                            <a href="{% url 'privacy-policy' %}">Privacy policy</a>
                                        </li>
                                        <li>।</li>
                                        <li>
                                            <a href="{% url 'terms-and-conditions' %}">Terms & conditions</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>


                 <!--<< All JS Plugins >>-->
        <script src="/static/assets/js/jquery-3.7.1.min.js"></script>
        <!--<< Viewport Js >>-->
        <script src="/static/assets/js/viewport.jquery.js"></script>
        <!--<< Bootstrap Js >>-->
        <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
        <!--<< Gsap Min Js >>-->
        <script src="/static/assets/js/gsap.min.js"></script>
        <!--<< ScrollTrigger Min Js >>-->
        <script src="/static/assets/js/ScrollTrigger.min.js"></script>
        <!--<< ScrollSmoother Min Js >>-->
        <script src="/static/assets/js/ScrollSmoother.min.js"></script>
        <!--<< ScrollToPlugin Min Js >>-->
        <script src="/static/assets/js/ScrollToPlugin.min.js"></script>
        <!--<< SplitText Min Js >>-->
        <script src="/static/assets/js/SplitText.min.js"></script>
        <!--<< TextPlugin Min Js >>-->
        <script src="/static/assets/js/TextPlugin.js"></script>
         <!--<< Chroma Min Js >>-->
        <script src="/static/assets/js/chroma.min.js"></script>
        <!--<< nice-selec Js >>-->
        <script src="/static/assets/js/jquery.nice-select.min.js"></script>
        <!--<< Waypoints Js >>-->
        <script src="/static/assets/js/jquery.waypoints.js"></script>
        <!--<< Counterup Js >>-->
        <script src="/static/assets/js/jquery.counterup.min.js"></script>
        <!--<< Swiper Slider Js >>-->
        <script src="/static/assets/js/swiper-bundle.min.js"></script>
        <!--<< MeanMenu Js >>-->
        <script src="/static/assets/js/jquery.meanmenu.min.js"></script>
        <!--<< Parallaxie Js >>-->
        <script src="/static/assets/js/parallaxie.js"></script>
        <!--<< Magnific Popup Js >>-->
        <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
        <!--<< Wow Animation Js >>-->
        <script src="/static/assets/js/wow.min.js"></script>
        <!--<< Main.js >>-->
        <script src="/static/assets/js/main.js"></script>


