<!DOCTYPE html>
<html lang="en">
    <!--<< Header Area >>-->
    <head>
        <!-- ========== Meta Tags ========== -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="pixel-plus">
        <meta name="description" content="GridTech – Smart AI, Security & Marketing HTML Template">
        <!-- ======== Page title ============ -->
        <title>Use Cases | XSignOn</title>

        {% include 'top-scripts.html' %}
        
    </head>
    <body>

        {% include 'header.html' %}
       
        <div id="smooth-wrapper">
            <div id="smooth-content">

                <!-- Breadcrumb Section Start -->
                <div class="breadcrumb-wrapper bg-cover" style="background-image: url('/static/assets/img/bannerInner.png');">
                    <div class="container">
                        <div class="page-heading">
                            <div class="breadcrumb-sub-title">
                                <h1 class="text-white wow fadeInUp" data-wow-delay=".3s">Use Cases</h1>
                            </div>
                            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                                <li>
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i> Home
                                    </a>
                                </li>
                                <li>
                                    /
                                </li>
                                <li>
                                    Use Cases
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- News Section Start -->
                <section class="news-section section-padding">
                    <div class="container">
                        <div class="row g-4">
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="news-box-items mt-0">
                                    <div class="thumb">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-01.jpg" alt="img">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-01.jpg" alt="img">
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="news.html">Corporate</a>
                                            </li>
                                            <li>
                                                <span>23 nov, 2025</span>
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="news-details.html">Innovative solution modern global businesses success.</a>
                                        </h3>
                                        <div class="news-bottom">
                                            <a href="news-details.html" class="link-btn"><i class="fa-solid fa-arrow-up-right"></i> Read more</a>
                                            <p>2 Comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="news-box-items mt-0">
                                    <div class="thumb">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-02.jpg" alt="img">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-02.jpg" alt="img">
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="news.html">Corporate</a>
                                            </li>
                                            <li>
                                                <span>23 nov, 2025</span>
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="news-details.html">How building stronger client for relationships success.</a>
                                        </h3>
                                        <div class="news-bottom">
                                            <a href="news-details.html" class="link-btn"><i class="fa-solid fa-arrow-up-right"></i> Read more</a>
                                            <p>2 Comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                                <div class="news-box-items mt-0">
                                    <div class="thumb">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-03.jpg" alt="img">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-03.jpg" alt="img">
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="news.html">Corporate</a>
                                            </li>
                                            <li>
                                                <span>23 nov, 2025</span>
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="news-details.html">Tips for many successful project delivery management.</a>
                                        </h3>
                                        <div class="news-bottom">
                                            <a href="news-details.html" class="link-btn"><i class="fa-solid fa-arrow-up-right"></i> Read more</a>
                                            <p>2 Comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                             <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                                <div class="news-box-items mt-0">
                                    <div class="thumb">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-04.jpg" alt="img">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-04.jpg" alt="img">
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="news.html">Corporate</a>
                                            </li>
                                            <li>
                                                <span>23 nov, 2025</span>
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="news-details.html">Digital transformation trends in corporate environments</a>
                                        </h3>
                                        <div class="news-bottom">
                                            <a href="news-details.html" class="link-btn"><i class="fa-solid fa-arrow-up-right"></i> Read more</a>
                                            <p>2 Comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                                <div class="news-box-items mt-0">
                                    <div class="thumb">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-05.jpg" alt="img">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-05.jpg" alt="img">
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="news.html">Corporate</a>
                                            </li>
                                            <li>
                                                <span>23 nov, 2025</span>
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="news-details.html">How emotion and design together brand stories.</a>
                                        </h3>
                                        <div class="news-bottom">
                                            <a href="news-details.html" class="link-btn"><i class="fa-solid fa-arrow-up-right"></i> Read more</a>
                                            <p>2 Comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                                <div class="news-box-items mt-0">
                                    <div class="thumb">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-06.jpg" alt="img">
                                        <img src="https://gramentheme.com/html/gridtech/assets/img/home-1/news/news-06.jpg" alt="img">
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li>
                                                <a href="news.html">Corporate</a>
                                            </li>
                                            <li>
                                                <span>23 nov, 2025</span>
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="news-details.html">How design thinking in modern brand for growth.</a>
                                        </h3>
                                        <div class="news-bottom">
                                            <a href="news-details.html" class="link-btn"><i class="fa-solid fa-arrow-up-right"></i> Read more</a>
                                            <p>2 Comments</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-nav-wrap text-center">
                            <ul>
                                <li><a class="page-numbers" href="#"><i class="fa-solid fa-arrow-up-left"></i></a></li>
                                <li class="active"><a class="page-numbers" href="#">01</a></li>
                                <li><a class="page-numbers" href="#">02</a></li>
                                <li><a class="page-numbers" href="#">03</a></li>
                                <li><a class="page-numbers" href="#"><i class="fa-solid fa-arrow-up-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                
                {% include 'footer.html' %}

            </div>
        </div>

       

    </body>
</html>