<!DOCTYPE html>
<html lang="en">
    <!--<< Header Area >>-->
    <head>
        <!-- ========== Meta Tags ========== -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="pixel-plus">
        <meta name="description" content="GridTech – Smart AI, Security & Marketing HTML Template">
        <!-- ======== Page title ============ -->
        <title>XSignOn Insights | XSignOn</title>
        
        {% include 'top-scripts.html' %}

    </head>
    <body>

        {% include 'header.html' %}
       
        <div id="smooth-wrapper">
            <div id="smooth-content">

                <!-- Breadcrumb Section Start -->
                <div class="breadcrumb-wrapper bg-cover" style="background-image: url('/static/assets/img/bannerInner.png');">
                    <div class="container">
                        <div class="page-heading">
                            <div class="breadcrumb-sub-title">
                                <h1 class="text-white wow fadeInUp" data-wow-delay=".3s">XSignOn Insights</h1>
                            </div>
                            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                                <li>
                                    <a href="index.html">
                                        <i class="fa-solid fa-house"></i> Home
                                    </a>
                                </li>
                                <li>
                                    /
                                </li>
                                <li>
                                    XSignOn Insights
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- GT News-standard Section Start -->
                <section class="news-standard-section section-padding">
                    <div class="container">
                        <div class="gt-news-standard-wrapper">
                            <div class="row g-4">
                                <div class="col-12 col-lg-8">
                                    <div class="gt-news-standard-items">
                                        <div class="gt-news-card-items-4">
                                            <div class="gt-news-image">
                                                <img src="/static/assets/img/blog/image_1.png" alt="img">
                                            </div>
                                            <div class="gt-news-content">
                                            <ul class="gt-date-list">
                                                    <li>
                                                        <i class="fa-solid fa-calendar-days"></i>
                                                        11 March 2025
                                                    </li>
                                                    <li>
                                                        <i class="fa-solid fa-comments"></i>
                                                        19 Comments
                                                    </li>
                                            </ul>
                                            <h3>
                                                    <a href="news-details.html">
                                                   Elevate Enterprise Security with Identity-First Controls
                                                    </a>
                                                </h3>
                                            <p>Healthcare and finance organizations carry some of the most sensitive data in...</p>
                                               <a class="gt-theme-btn-main mt-4" href="news-details.html">
                                                    <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                    <span class="gt-theme-btn">Read More</span>
                                                    <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="gt-news-card-items-4">
                                            <div class="gt-news-image">
                                                <img src="/static/assets/img/blog/image_2.png" alt="img">
                                            </div>
                                            <div class="gt-news-content">
                                            <ul class="gt-date-list">
                                                    <li>
                                                        <i class="fa-solid fa-calendar-days"></i>
                                                        11 March 2025
                                                    </li>
                                                    <li>
                                                        <i class="fa-solid fa-comments"></i>
                                                        19 Comments
                                                    </li>
                                            </ul>
                                            <h3>
                                                <a href="news-details2.html">
                                                Data + AI Security Built for Visibility, Control, and Trust
                                                </a>
                                            </h3>
                                            <p>Data is no longer just an asset. It’s the foundation of business growth,...</p>
                                            <a class="gt-theme-btn-main mt-4" href="news-details2.html">
                                                    <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                    <span class="gt-theme-btn">Read More</span>
                                                    <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="gt-news-card-items-4">
                                            <div class="gt-news-image">
                                                <img src="/static/assets/img/blog/image_3.png" alt="img">
                                            </div>
                                            <div class="gt-news-content">
                                            <ul class="gt-date-list">
                                                    <li>
                                                        <i class="fa-solid fa-calendar-days"></i>
                                                        11 March 2025
                                                    </li>
                                                    <li>
                                                        <i class="fa-solid fa-comments"></i>
                                                        19 Comments
                                                    </li>
                                            </ul>
                                            <h3>
                                                <a href="news-details3.html">
                                               Modern Micro-Segmentation for Zero Trust Security
                                                </a>
                                            </h3>
                                            <p>Cyber threats don’t just knock at the front door, they often spread silently inside...</p>
                                                <a class="gt-theme-btn-main mt-4" href="news-details3.html">
                                                    <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                    <span class="gt-theme-btn">Read More</span>
                                                    <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="gt-news-card-items-4">
                                            <div class="gt-news-image">
                                                <img src="/static/assets/img/blog/image_4.png" alt="img">
                                            </div>
                                            <div class="gt-news-content">
                                            <ul class="gt-date-list">
                                                    <li>
                                                        <i class="fa-solid fa-calendar-days"></i>
                                                        11 March 2025
                                                    </li>
                                                    <li>
                                                        <i class="fa-solid fa-comments"></i>
                                                        19 Comments
                                                    </li>
                                            </ul>
                                            <h3>
                                                <a href="news-details4.html">
                                               Non-Human Identities, and the Future of Cyber Risk: Embraci...
                                                </a>
                                            </h3>
                                            <p>Weekends are always a time to reset, but sometimes even a casual conversation can spark big ideas. Over coffee in D...</p>
                                                <a class="gt-theme-btn-main mt-4" href="news-details4.html">
                                                    <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                    <span class="gt-theme-btn">Read More</span>
                                                    <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="gt-news-card-items-4">
                                            <div class="gt-news-image">
                                                <img src="/static/assets/img/blog/image_5.png" alt="img">
                                            </div>
                                            <div class="gt-news-content">
                                            <ul class="gt-date-list">
                                                    <li>
                                                        <i class="fa-solid fa-calendar-days"></i>
                                                        11 March 2025
                                                    </li>
                                                    <li>
                                                        <i class="fa-solid fa-comments"></i>
                                                        19 Comments
                                                    </li>
                                            </ul>
                                            <h3>
                                                <a href="news-details5.html">
                                               Building Smarter Cybersecurity with...
                                                </a>
                                            </h3>
                                            <p>As cyberattacks grow more advanced, traditional security tools can’t keep up...</p>
                                                <a class="gt-theme-btn-main mt-4" href="news-details5.html">
                                                    <span class="gt-theme-btn-arrow-left"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                    <span class="gt-theme-btn">Read More</span>
                                                    <span class="gt-theme-btn-arrow-right"> <i class="fa-solid fa-arrow-up-right"></i> </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="page-nav-wrap text-center">
                                            <ul>
                                                <li><a class="page-numbers" href="#"><i class="fa-solid fa-arrow-up-left"></i></a></li>
                                                <li class="active"><a class="page-numbers" href="#">01</a></li>
                                                <li><a class="page-numbers" href="#">02</a></li>
                                                <li><a class="page-numbers" href="#">03</a></li>
                                                <li><a class="page-numbers" href="#"><i class="fa-solid fa-arrow-up-right"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="gt-main-sideber sticky-style">
                                        <div class="gt-single-sideber-widget">
                                            <div class="gt-widget-title">
                                                <h3>Search</h3>
                                            </div>
                                            <div class="gt-search-widget">
                                                <form action="#">
                                                    <input type="text" placeholder="Search here">
                                                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="gt-single-sideber-widget">
                                            <div class="gt-widget-title">
                                                <h3>All Categories</h3>
                                            </div>
                                            <ul class="gt-category-list">
                                                <li><a href="news-details1.html">Security Products </a><span>(03)</span></li>
                                                <li><a href="news-details4.html">Analysis </a><span>(02)</span></li>
                                            </ul>
                                        </div>
                                        <div class="gt-single-sideber-widget d-none">
                                            <div class="gt-widget-title">
                                                <h3>Recent Post</h3>
                                            </div>
                                            <div class="gt-recent-post-area">
                                                <div class="gt-recent-items">
                                                    <div class="gt-recent-thumb">
                                                        <img src="/static/assets/img/inner-page/post-1.jpg" alt="img">
                                                    </div>
                                                    <div class="gt-recent-content">
                                                        <h5>
                                                            <a href="news-details.html">
                                                            How to Stay Ahead of the Business Curve
                                                            </a>
                                                        </h5>
                                                        <ul>
                                                            <li>
                                                                March 26, 2025
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="gt-recent-items">
                                                    <div class="gt-recent-thumb">
                                                        <img src="/static/assets/img/inner-page/post-2.jpg" alt="img">
                                                    </div>
                                                    <div class="gt-recent-content">
                                                        <h5>
                                                            <a href="news-details.html">
                                                           How Digital Tools Shaping the Workforce
                                                            </a>
                                                        </h5>
                                                        <ul>
                                                            <li>
                                                                March 26, 2025
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="gt-recent-items">
                                                    <div class="gt-recent-thumb">
                                                    <img src="/static/assets/img/inner-page/post-3.jpg" alt="img">
                                                    </div>
                                                    <div class="gt-recent-content">
                                                        <h5>
                                                            <a href="news-details.html">
                                                            How to Sustainability into your Strategy
                                                            </a>
                                                        </h5>
                                                        <ul>
                                                            <li>
                                                                March 26, 2025
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="gt-single-sideber-widget mb-0 d-none">
                                            <div class="gt-widget-title">
                                                <h3>Popular Tags</h3>
                                            </div>
                                            <div class="tagcloud">
                                                <a href="news-details.html">Growth</a>     
                                                <a href="news-details.html">Success</a>
                                                <a href="news-details.html">Innovate</a>
                                                <a href="news-details.html">Lead</a>
                                                <a href="news-details.html">Impact</a>
                                                <a href="news-details.html">Focus</a>
                                                <a href="news-details.html">Tech</a>
                                                <a href="news-details.html">Optimize</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                {% include 'footer.html' %}

            </div>
        </div>

    </body>
</html>